<td id="rep{{id}}td" class="meritmoot dat">
  <div id="rep{{id}}tag" class="meritmoot infotag grey" infotag-id="{{id}}">{{mm_reference_str}}
    <svg id="rep{{id}}x" class="fa d-icon d-icon-times svg-icon svg-string" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="#times"></use>
    </svg>
  </div>
</td>